<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h3>This "purchase" event has been tracked!</h3>
        <br/>
        <p class="lead"><a href="/shop"> Back to Catalog</a></p>

      </div>
    </div>
  </body>
</html>


